* {
    margin: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.container {
    border: 1px solid rgb(145, 144, 144);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 100px 0 100px;
    box-shadow: 1px 2px 3px 2px rgb(172, 172, 172);
    
}

.container__info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
}
.img {
    display: flex;
}

    .card{
        margin-left: 80px;
        margin-top: 100px;
    }
    .container_card{
        display:flex;
        align-items: center;
        justify-content: center;
    }