$color_red:rgba(255, 0, 0, 0.992);
$fone_title:29px;

.container{
    background-color: $color_red;
    font-size: $fone tytle;

    }
    .h1{
        &:hover + p {
         $color: blue;
        }

    }
    .card{
        margin-left: 80px;
        margin-top: 100px;
    }
    .container_card{
        display:flex;
        align-items: center;
        justify-content: center;
    }